<!-- EDIT -->


<br/><br/>
<div class="panel-heading">

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="text-center"><h2 class="filtrado">Editar Usuario</h2></div>
            <br/><br/>
            
            <form name="usuarioForm" class="form-horizontal editnew"
                  data-ng-show="result == null" novalidate>

                <div id="nombre-group" class="form-group">
                    <label class="col-sm-2 control-label" for="nombre">Nombre de
                        Usuario:</label>
                    <div class="control col-sm-3">
                        <input data-ng-model="obj.nombre" type="text" id="nombre" class="form-control" name="nombre" data-ng-pattern="/^[a-zA-ZáéíóúàèòçÇñÑ ]*$/" disabled>
                    </div>
                </div>

                <div id="mail-group" class="form-group">
                    <label class="col-sm-2 control-label">E-Mail:</label>
                    <div class="control col-sm-3">
                        <input data-ng-model="obj.mail" type="email" id="email" class="form-control" name="email" required > 
                        <span data-ng-show="!usuarioForm.$pristine && usuarioForm.email.$error.required">Campo requerido.</span>
                        <span class="error" ng-show="usuarioForm.email.$error.email">El e-mail introducido no es correcto.</span>
                    </div>

                </div>

                <div id="telefono-group" class="form-group">
                    <label class="col-sm-2 control-label" for="telefono">Teléfono:</label>
                    <div class="control col-sm-3">
                        <input data-ng-model="obj.telefono" type="text" id="telefono" class="form-control" name="telefono" data-ng-minlength="9" data-ng-maxlength="9" 
                               data-ng-pattern="/^[0-9 ]*$/" required> 
                        <span data-ng-show="!usuarioForm.$pristine && usuarioForm.telefono.$error.pattern">El texto introducido no es correcto. Sólo debes incluir números.</span>
                        <span data-ng-show="!usuarioForm.$pristine && usuarioForm.telefono.$error.required">Campo requerido.</span>
                        <span class="error" ng-show="usuarioForm.telefono.$error.maxlength">El número es demasiado largo.</span>
                        <span class="error" ng-show="usuarioForm.telefono.$error.minlength">El número es demasiado corto.</span>

                    </div>
                </div>

                <div id="estado-group" class="form-group">
                    <label class="col-sm-2 control-label" for="estado">Estado:</label>
                    <div class="control col-sm-9">
                        <input data-ng-model="obj.estado" type="text" id="estado"
                               class="form-control" name="estado" size="15">
                    </div>
                </div>
                
            </form>


                <br/><br/><br/>

                <div class="control-group text-center">

                    <div class="text-center">
                        <a data-toggle="modal" data-target="#myModal" data-ng-click="save()" data-ng-disabled="!usuarioForm.$valid">
                            <img class="boton" alt="boton" src="/images/guardar.png">
                        </a>
                        <a data-ng-click="volver()">
                            <img class="boton" alt="boton" src="/images/listado.png">
                        </a>
                        <a data-ng-click="close()">
                            <img class="boton" alt="boton" src="/images/inicio.png">
                        </a>

                        <br/><br/><br/>
                    </div>

                </div>
        </div>

        <br/><br/><br/>


    </div>

    <div class="col-md-2"></div>

</div>


<div class="row">



    <footer data-ng-include="'js/system/footer.html'"></footer>


</div>


<!-- MODAL -->

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p class="modal-p" data-ng-show="result.status == 200">El registro ha sido modificado.</p>
                <p class="modal-p" data-ng-show="result.status != 200">El registro no ha podido modificarse.</p>
            </div>
            <div class="modal-footer">
                <a data-ng-click="registro()" id="botreg" class="btn btn-default anyadir">Ver el registro modificado</a>
                <a data-ng-click="cerrar()" class="btn btn-default agregar">Volver al inicio</a>

            </div>
        </div>
    </div>
</div>

<!-- MODAL -->


