<!-- NEW -->

<div class="panel-heading panel">

    <div class="row">

        <br/>

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="text-center"><h2 class="filtrado">Usuario Nuevo</h2></div>

            <br/><br/>

            <div class="editnew">

                <form name="usuarioForm" class="form-horizontal" novalidate>


                    <div id="login-group" class="form-group">
                        <label class="col-sm-2 control-label" for="nombre">Nombre de Usuario:</label>
                        <div class="control col-sm-3">
                            <input data-ng-model="obj.nombre" type="text" id="nombre" class="form-control" name="nombre" data-ng-pattern="/^[a-zA-ZáéíóúàèòçÇñÑ ]*$/" required>
                            <span data-ng-show="!usuarioForm.$pristine && usuarioForm.nombre.$error.required">Campo requerido.</span>
                            <span data-ng-show="!usuarioForm.$pristine && usuarioForm.nombre.$error.pattern">El texto introducido no es correcto. No se debe incluir números 
                                ni caracteres especiales..</span>
                        </div>
                    </div>

                    <div id="password-group" class="form-group">
                        <label class="col-sm-2 control-label">E-Mail:</label>
                        <div class="control col-sm-3">
                            <input data-ng-model="obj.mail" type="email" id="email" class="form-control" name="email" required > 
                            <span data-ng-show="!usuarioForm.$pristine && usuarioForm.email.$error.required">Campo requerido.</span>
                            <span class="error" ng-show="usuarioForm.email.$error.email">El e-mail introducido no es correcto.</span>
                        </div>

                    </div>

                    <div id="ciudad-group" class="form-group">
                        <label class="col-sm-2 control-label" for="telefono">Teléfono:</label>
                        <div class="control col-sm-3">
                            <input data-ng-model="obj.telefono" type="text" id="telefono" class="form-control" name="telefono" data-ng-minlength="9" data-ng-maxlength="9" 
                                   data-ng-pattern="/^[0-9 ]*$/" required> 
                            <span data-ng-show="!usuarioForm.$pristine && usuarioForm.telefono.$error.pattern">El texto introducido no es correcto. Sólo debes incluir números.</span>
                            <span data-ng-show="!usuarioForm.$pristine && usuarioForm.telefono.$error.required">Campo requerido.</span>
                            <span class="error" ng-show="usuarioForm.telefono.$error.maxlength">El número es demasiado largo.</span>
                            <span class="error" ng-show="usuarioForm.telefono.$error.minlength">El número es demasiado corto.</span>
                        </div>
                    </div>

                    <div id="firma-group" class="form-group">
                        <label class="col-sm-2 control-label" for="estado">Estado:</label>
                        <div class="control col-sm-9">
                            <input data-ng-model="obj.estado" type="text" id="estado"
                                   class="form-control" name="estado" size="15">
                        </div>
                    </div>

                </form>  

                <form id="uploadForm" class="form-horizontal" action="upload" method="post" enctype="multipart/form-data">

                    <div id="imagen-group" class="form-group">
                        <label for="file" class="col-sm-2 control-label">Imagen: </label> 
                        <div class="control col-sm-3">
                            <input type="file" name="file" id="file"/>
                        </div>
                    </div>

                </form>  

            </div>

        </div>

        <div class="col-md-2"></div>


    </div>

    <div class="row">

        <div class="control-group text-center">

            <div class="controls">

                <a class="enlace" data-toggle="modal" data-target="#myModal" data-ng-click="save()" data-ng-disabled="!usuarioForm.$valid">
                    <img class="boton" alt="boton" src="/images/guardar.png">
                </a>
                <a class="enlace" data-ng-click="volver()">
                    <img class="boton" alt="boton" src="/images/listado.png">
                </a>
                <a class="enlace" data-ng-click="close()">
                    <img class="boton" alt="boton" src="/images/inicio.png">
                </a>

            </div>
        </div>

        <br/><br/>

    </div>

</div>

<div class="row">



    <footer data-ng-include="'js/system/footer.html'"></footer>


</div>


<!-- MODAL -->

<div class="modal fade" id="myModal" role="dialog">

    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body">

                <p class="modal-p text-center" data-ng-show="result.status == 200">El usuario ha sido creado.</p>
                <p class="modal-p text-center" data-ng-show="result.status != 200">El usuario no ha podido crearse.</p>

            </div>

            <div class="modal-footer text-center">

                <a class="enlace" id="botreg" data-ng-click="registro()">
                    <img class="boton" alt="boton" src="/images/listado.png">
                </a>

                <a class="enlace" data-ng-click="cerrar()">
                    <img class="boton" alt="boton" src="/images/inicio.png">
                </a>

            </div>

        </div>

    </div>

</div>

<!-- MODAL -->