<!-- REMOVE -->

<br/><br/>
<div class="panel-heading">

    <br/><br/>

    <div class="row">

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>

        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs"><img alt="mini" class="img-circle img-responsive imagenuser" src="{{bean.imagen}}" width="250" height="250"/></div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

            <table class="table table-condensed table-responsive tablaview">

                <th class="nombre"></th>
                <th class="nombre">
                <h3 class="text-left nombretabla">{{bean.nombre}}</h3>
                </th>        

                <tr class="etiqueta">
                    <td><p>E-Mail</p></td>
                    <td class="campo"><p class="textotabla">{{bean.mail}}</p></td>
                </tr>

                <tr class="etiqueta">
                    <td><p>Teléfono</p></td>
                    <td class="campo"><p class="textotabla">{{bean.telefono}}</p></td>
                </tr>

                <tr class="etiqueta">
                    <td><p>Estado</p></td>
                    <td class="campo"><p class="textotabla">{{bean.estado}}</p></td>
                </tr>

            </table>

        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>

    </div>

    <div class="row">

        <div class="col-md-12">

            <br />


            <div class="text-center">

                <div class="borrar">¿Está seguro de que desea borrar el registro?</div>

                <a data-toggle="modal" data-target="#myModal" data-ng-click="remove()">
                    <img class="boton" alt="boton" src="/images/si.png">
                </a>
                <a href="#/usuario/view/{{bean.id}}">
                    <img class="boton" alt="boton" src="/images/no.png">
                </a>

            </div>
        </div>
    </div>

    <br/><br/>

</div>


<div class="row">



    <footer data-ng-include="'js/system/footer.html'"></footer>


</div>


<!-- MODAL -->

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">

                <p class="modal-p" data-ng-show="result.message == 1">El usuario ha sido eliminado.</p>
                <p class="modal-p" data-ng-show="result.message == 0">El usuario no ha podido eliminarse.</p>

            </div>
            <div class="modal-footer">
                <a data-ng-click="borrado()" class="btn btn-default anyadir botreg">Volver al listado de usuarios</a>
                <a data-ng-click="close()" class="btn btn-default agregar botreg">Volver al inicio</a>

            </div>
        </div>
    </div>
</div>

<!-- MODAL -->     
