<!-- VIEW -->

<div class="panel-heading panel">

    <br/><br/>

    <div class="row">

        <br/>

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>

        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs"><img alt="mini" class="img-circle img-responsive imagenuser" src="{{bean.imagen}}" width="250" height="250"/></div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

            <table class="table table-condensed table-responsive tablaview">

                <th class="nombre"></th>
                <th class="nombre">
                <h3 class="text-left nombretabla">{{bean.nombre}}</h3>
                </th>        

                <tr class="etiqueta">
                    <td><p>E-Mail</p></td>
                    <td class="campo"><p class="textotabla">{{bean.mail}}</p></td>
                </tr>

                <tr class="etiqueta">
                    <td><p>Teléfono</p></td>
                    <td class="campo"><p class="textotabla">{{bean.telefono}}</p></td>
                </tr>

                <tr class="etiqueta">
                    <td><p>Estado</p></td>
                    <td class="campo"><p class="textotabla">{{bean.estado}}</p></td>
                </tr>

            </table>

        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>

    </div>

    <div class="row">

        <div class="text-center">

            <a class="enlace" data-ng-click="volver()">
                <img class="boton" alt="boton" src="/images/listado.png">
            </a>
            <a class="enlace" data-ng-click="close()">
                <img class="boton" alt="boton" src="/images/inicio.png">
            </a>

            <br/><br/>

        </div>

    </div>

    <div class="row text-center">
        <p class="linea"></p>
    </div>

    <div class="row text-center">


        <h3>Panel de Administración</h3>

        <a class="enlace" href="#/usuario/edit/{{bean.id}}">
            <img class="boton" alt="boton" src="/images/editar.png">
        </a>
        <a class="enlace" href="#/usuario/remove/{{bean.id}}">
            <img class="boton" alt="boton" src="/images/borrar.png">
        </a>

    </div>

    <br/>

</div>


<div class="row">

    <footer data-ng-include="'js/system/footer.html'"></footer>

</div>


