* {
    font-family: 'Dosis', sans-serif;
    margin: 0 auto;
}
/* Cuerpo exterior de página */

html,
body {
    width: 100%;
    background: #188fae;
}
/* Titular de página  */

.panel-heading {
    margin-top: 70px;
    background-color: #dbf0f5;
}
.ng-scope {
    margin: 0;
}
/*Centrado de textos */

.text-center {
    text-align: center;
}
/* Rótulos y Textos */

.filtrado {
    font-weight: bold;
    font-size: 30px;
}
.nombre {
    background-color: #188fae;
    color: white;
}
.nombre h3 {
    font-weight: bold;
    font-size: 25px;
}
.titulo {
    font-size: 60px;
    text-decoration: none;
}
/* Barra de Navegación */

.navbar-default {
    background-color: #188fae;
}
.navbar-default .navbar-collapse > ul li a {
    color: white;
    font-size: 20px;
}
.navbar-default .navbar-collapse > ul li a:hover {
    color: white;
    background-color: #f7bd4c;
}
.dropdown-menu {
    background-color: #188fae;
}
.listamenu {
    padding: 5px;
}
.listamenu img {
    position: relative;
    right: 10px;
}
/* Tablas */

.table {
    background-color: #f7bd4c;
}
.table tr td a {
    color: black;
    text-decoration: none;
    font-size: 25px;
}
.hovered a {
    padding: 5px;
}
.hovered:hover {
    background: #dbf0f5;
}
.textotabla {
    position: relative;
    top: 3px;
}
.nombretabla {
    position: relative;
    left: 12px;
    bottom: 7px;
}
/* Resto de pantallas View */

.tablaview {
    position: relative;
    left: 40px;
}

.tablaview tr td {

    font-size: 22px;
    background-color: #f7bd4c;
}
.tablaview td p {
    padding: 5px;
}
/* Animación cortinilla barra de navegación */

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}
.dropdown.open .dropdown-menu {
    max-height: 200px;
    opacity: 1;
}
/* Otros */

.borrar {
    font-size: 20px;
    margin-bottom: 20px;
}
.linea {
    border-top: 1px solid #188fae;
    margin-left: 100px;
    margin-right: 100px;
}
/* Pantallas New y Edit */

.form-group {
    font-size: 18px;
}
.etiqueta p {
    margin-left: 10px;
}
.imagnombre img {
    padding: 5px;
}
.editnew {
    background: #f7bd4c;
    padding: 20px;
    border-radius: 5px;
}
/* Pie de Página */
.fondo {
    width: 100%;
    background-color: #dbf0f5;
}
/* Botones */

.boton:hover {
    background-color: #f7bd4c;
    cursor: pointer;
}
/* Elementos de imágenes */

.logo {
    position: relative;
    bottom: 25px;
}
.cabecera {
    padding: 10px;
}
.cabecera:hover {
    background-color: #dbf0f5;
    border: 1px solid #f7bd4c;
}
.enlace {
    text-decoration: none;
}
.enlace:hover {
    text-decoration: none;
}
.enlace img{
    margin-top:40px;
}
/* Modal */
.modal-body {
    background: #f7bd4c;
}

.modal-p {
    font-size: 20px;
    font-weight: bold;
}

.modal-footer {
    background: #dbf0f5;
}

.footelem {
    position: relative;
    bottom: 300px;
    z-indez: 1;
}
/*Páginas legales */

.legal {
    margin-top: 40px;
}
.punto {
    font-size: 22px;
    font-weight: bold;
    color: #188fae;
}
.parrafo {
    font-size: 16px;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cajalegal {
    background: #f7bd4c;
    border-radius: 10px;
}
