@charset "UTF-8";
* {
    margin: 0 auto;
}
/* Cuerpo exterior de página */

html,
body {
    width: 100%;
    background: #56b9ff;
}
.panel-default {
    background-color: #f9faf1;
}
/* Cuerpo interior de página */

.panel-body {
    background-color: #e7e299;
}
/* Titular de página */

.panel-heading {
    margin-top: 70px;
}
/* Pie de página */

.panel-footer {
    background-color: #f9faf1;
}
.textofooter a {
    color: black;
    text-decoration: none;
}
/*Centrado de textos */

.text-center {
    text-align: center;
}
/* Tamaños y alienados de textos */

.textosuperior {
    font-size: 16px;
}
.textomedio {
    font-size: 18px;
    text-align: justify;
    margin-left: 20px;
}
.textoinferior {
    font-size: 12px;
    font-style: italic;
}
.filtrado {
    font-weight: bold;
    position: relative;
    left: 50px;
}
.titulo {
    font-size: 30px;
    font-weight: bold;
}
/* CSS para listados */

.selector {
    padding: 10px;
    position: relative;
    top: 40px;
    left: 50px;
}
.cajabusqueda {
    position: relative;
    top: 14px;
}
ul li a {
    color: black;
    font-size: 16px;
    text-decoration: none;
}
ul li a:hover {
    color: #D30707;
}
.galeriaeditorial ul {
    list-style: none;
}
.galeriaeditorial li {
    display: inline-table;
    position: relative;
    right: 30px;
}
.galeriaeditorial li a {
    text-decoration: none;
}
.galeriaeditorial img:hover {
    opacity: 0.7;
}
.galeriajuego ul {
    list-style: none;
}
.galeriajuego li {
    display: inline-table;
    position: relative;
    right: 30px;
}
.galeriajuego li a {
    text-decoration: none;
}
.galeriajuego img:hover {
    opacity: 0.7;
}
.catlist {
    position: relative;
    bottom: 10px;
}
.catlist2 {
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
}
/* Botones */

.agregar {
    background: #337ab7;
    color: white;
    border: 1px solid black;
}
.agregar:hover {
    background: black;
    color: white;
}
.anyadir {
    margin-right: 5px;
    background: #5ea82f;
    color: white;
    border: 1px solid black;
}
.anyadir:hover {
    color: white;
    background: black;
}
.eliminar {
    margin-right: 5px;
    background: #D30707;
    color: white;
    border: 1px solid black;
}
.eliminar:hover {
    color: white;
    background: black;
}
.listado {
    margin-right: 5px;
    background: #337ab7;
    color: white;
    border: 1px solid black;
}
.listado:hover {
    color: white;
    background: black;
}
.inicio {
    margin-right: 5px;
    background: #f5d500;
    color: black;
    border: 1px solid black;
}
.inicio:hover {
    color: white;
    background: black;
}
.volver {
    background: #5ea82f;
    color: white;
    border: 1px solid black;
}
.volver:hover {
    background: #D30707;
    color: white;
    border: 1px solid black;
}
/* Barra de Navegación */

.navbar-default .navbar-collapse > ul li a {
    color: white;
}
.navbar-default .navbar-collapse > ul li a:hover {
    color: white;
    background-color: black;
}
.navbar-default {
    background-color: #D30707;
}
.dropdown-header {
    color: white;
}
.dropdown-menu {
    background-color: #D30707;
}
.listamenu {
    padding: 5px;
}
.listamenu img {
    position: relative;
    right: 10px;
}
/* Tablas */

.table {
    background: #f2f0d6;
}
.verjuegos {
    font-size: 20px;
}
.table tr td a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    top: 14px;
    left: 20px;
}
.verjuegos {
    position: relative;
    left: -20px;
    font-size: 16px;
}
.cabecera a {
    padding-left: 10px;
    color: #337ab7;
}
.cabecera p {
    padding: 10px;
    color: black;
    font-size: 18px;
    position: relative;
    top: 8px;
}
.fecha {
    margin-top: 15px;
}
.hovered:hover {
    background: #e7e299;
}
/* TotalJuego View y Remove */

.imagen2 {
    margin-bottom: 20px;
}
.enlacejuego {
    color: black;
}
.enlacejuego:hover {
    color: #D30707;
    text-decoration: none;
}
.celdajuego {
    padding: 10px;
    border-bottom: 1px dotted grey;
}

.botonweb {
    position: relative;
    top: 20px;
    left: 325px;
    margin-bottom: 20px;
}
.descripcion {
    font-size: 16px;
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
}
.etiqueta {
    font-size: 16px;
    font-weight: bold;
}
table tr td li {
    list-style: none;
}
.compra {
    font-size: 16px;
}
#linkpatro img {
    padding-top: 30px;
}
/* Resto de pantallas View */

.tablaview td p {
    padding: 5px;
}
.categoria {
    font-size: 16px;
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
}
/* Página Principal */

.secbienve p {
    text-align: justify;
}
.secbienve ul {
    text-align: justify;
    color: #535353;
}
.linea {
    border-top: 1px solid white;
}
/* Galería del Index */

.indexgallery {
    margin-top: 20px;
}
.indexgallery ul {
    list-style: none;
}
.indexgallery li {
    display: inline-table;
    padding: 2px;
}
.indexgallery img {
    width: 250px;
}
.elemento:hover {
    opacity: 0.6;
}
/* Página de no-permiso */

.nopermiso {
    margin-top: 50px;
}
/* Animación cortinilla barra de navegación */

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}
.dropdown.open .dropdown-menu {
    max-height: 250px;
    opacity: 1;
}
/* Pantallas Edit */

.website:hover {
    color: white;
}
.websitetabla {
    position: relative;
    bottom: 8px;
    right: 14px;
}
.websitetabla a:hover {
    color: red;
}
.textotabla {
    font-size: 16px;
    text-align: justify;
}
.listadoedit {
    list-style: none;
    display: inline-block;
    position: relative;
    right: 40px;
    top: 5px;
}
.listadoedit a {
    text-decoration: none;
}
/* Pantallas Remove */

.turemove a:hover {
    color: red;
}